/* color von logo web und font von portfolio btn #4D5AE5 */
/* color von studio und andere title und background ins web-site #2E2F42 */
/* color von tel ads und andere text #434455 */
/* color von footer #E7E9FC */
/* background von btn ins Portfolio #F4F4FD #404BBF 
color von font ins portfolio mit ":active" #FFFFFF*/


:root {
     --color-font-logo: #4D5AE5;
     --color-tit-back: #2E2F42;
     --color-ads-txt: #434455;
     --color-footer-txt: #E7E9FC;
     --color-bck-btn-act: #404BBF;
     --color-bck-btn: #F4F4FD;
     --color-fnt-btn-act: #FFFFFF;
     --foot-family: 'Raleway', sans-serif;
     --font-famyli: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin: 0;
}

ul {
     padding-left: 0;
     margin: 0;
}

.container {
     width: 1158px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
     /* outline: 2px solid black; */
}




body {
     font-family: 'Raleway', sans-serif;
     font-family: 'Roboto', sans-serif;
     color: var(--color-ads-txt);
     color: #434455;
     background-color: var(--color-fnt-btn-act);
}

.link {
     text-decoration: none;
}

.list {
     list-style: none;
     text-decoration: none;
}


section {
     /* outline: 2px dashed tomato; */
}

img {
     display: block;
}

button {
     cursor: pointer;
}

header {
     border-bottom: 1px solid var(--color-footer-txt);
}

/* -----------------------------------------Header Style---------------------------------- */

.container-nav {
     display: flex;
}


.container-nav nav,
.container-nav address {
     display: flex;
     align-items: center;
}

.header-abov {}

.container-nav a {

     display: block;
     padding-bottom: 24px;
     padding-top: 24px;

     color: var(--color-tit-back);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;

}


.header-navigation .list {
     display: flex;
}

.header-navigation li:not(:last-child) {
     margin-right: 40px;
}


.header-navigation li>a:hover,
.header-navigation li>a:focus {
     color: var(--color-bck-btn-act);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.header-navigation .header-logo {
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--color-font-logo);

     margin-right: 76px;
}

.header-logo-std {
     color: var(--color-tit-back);
}



.header-container {}

.header-cont-link {}

.header-adds {}

.list-adds {
     display: flex;
}

.list-adds>li:not(:last-child) {
     margin-right: 40px;
}

.address {
     font-style: normal;
     margin-left: auto;
}

.address .link,
.address .link {
     font-style: normal;
     text-decoration: none;
     color: var(--color-ads-txt);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}


.address .link:hover,
.address .link:focus {
     font-style: normal;
     text-decoration: none;
     color: var(--color-bck-btn-act);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.header-email {}

.header-tel {}


/* ------------------------------First Section Style----------------------------- */

.container-section-one {
     padding-bottom: 188px;
     padding-top: 188px;
     text-align: center;

}

.same-background {
     background-color: var(--color-tit-back);
}


.section-one {
     color: var(--color-fnt-btn-act);
     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     margin-bottom: 48px;

     margin-right: auto;
     margin-left: auto;

     max-width: 496px;
}

.btn-main {
     color: var(--color-fnt-btn-act);
     background-color: var(--color-font-logo);
     font-family: var(--font-famyli);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;

     padding: 16px 32px;
     border: 0;
     border-radius: 4px;

     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-main:hover,
.btn-main:focus {
     background-color: var(--color-bck-btn-act);
     font-family: var(--font-famyli);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     cursor: pointer;

}

/* button[type="button"] {
     color: var(--color-fnt-btn-act);
     background-color: var(--color-font-logo);
} */




/* ----------------------------second section Style------------------------- */

.section-two {
     padding-top: 120px;
     padding-bottom: 120px;
}

.list-item-two>h3 {
     margin-bottom: 8px;
}


.list-item-two {
     max-width: 264px;
}

.list-item-two:not(:last-child) {
     margin-right: 24px;
}

.list-section-two {
     display: flex;
}

/* h123 style */
.heading {
     color: var(--color-tit-back);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
}

.headline {
     font-weight: 700;
     font-size: 36px;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     line-height: 1.11;
     text-align: center;
     color: var(--color-tit-back);

}

/* --------------------------------------section №3------------------------------------- */

/* description and text style  */
.text,
.desc {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: var(--color-ads-txt);
}

.section-three {
     padding-bottom: 120px;
}

.img-three {
     display: block;
}

.container-three .list {
     display: flex;
     gap: 24px;
     /* justify-content: space-between; */
}

.container-three>h2 {
     text-align: center;
     margin-bottom: 72px;
}

/* ------------------------fourth section style--------------------- */

.section-four {
     background-color: var(--color-bck-btn);
     padding-bottom: 120px;
     padding-top: 120px;
}

.heading-four{
     margin-bottom: 8px;
}

.list-team {
     display: flex;
     gap: 24px;
}

.headline-four {
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     color: var(--color-tit-back);
     letter-spacing: 0.02em;
     text-transform: capitalize;

     margin-bottom: 72px;
}

.section-four-list {
     background-color: var(--color-fnt-btn-act);
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
     border-radius: 0px 0px 4px 4px;
}

div.four-text {
     display: flex;
     padding-bottom: 32px;
     padding-top: 32px;
     flex-direction: column;
     align-items: center;
}







/*------------------------------ footer style -------------------------*/

.container-footer {}

footer {
     padding-top: 100px;
     padding-bottom: 100px;
}

.same-background .footer-logo {
     color: #F4F4FD;
     font-family: var(--foot-family);
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     text-decoration: none;
     color: var(--color-font-logo);

     display: inline-block;
     margin-bottom: 16px;
}

.same-background .text-footer {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: var(--color-footer-txt);

     max-width: 264px;
}

.footer-logo-std {
     color: var(--color-bck-btn);

}



/*------------------------------------ Button Portfolio Style----------------------------- */


.list-port {
     justify-content: center;
}


.list-port {
     display: flex;
     margin-bottom: 72px;
}


.list-port li:not(:last-child) {
     margin-right: 24px;
}


ul button[type="button"].btn {


     font-family: inherit;
     color: var(--color-font-logo);
     background-color: var(--color-bck-btn);
     cursor: pointer;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;

     padding-bottom: 12px;
     padding-top: 12px;
     padding-right: 24px;
     padding-left: 24px;



     border: 1px solid #E7E9FC;
     border-radius: 4px;

}

ul button[type="button"].btn:hover,
ul button[type="button"].btn:focus,
ul button[type="button"].btn:active {
     color: var(--color-fnt-btn-act);
     background-color: var(--color-bck-btn-act);
}

.list-title-port {
     color: var(--color-tit-back);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;

     margin-bottom: 8px;
}

.list-text-port {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--color-ads-txt);

}


/*-----------------style for list-produckt---and for main in portfolio------------------*/


.section-port {
     padding-top: 96px;
     padding-bottom: 120px;
}



.list-produckt {
     display: flex;
     flex-wrap: wrap;
     gap: 48px 24px;
}

.desc-port {
     padding-bottom: 32px;
     padding-top: 32px;
     padding-left: 16px;
     border: 1px solid var(--color-footer-txt);
     border-top: none;
}